.productrow {
    height: 720px;
    overflow: auto;
    overflow-x: hidden;
}

.imgAdd {
    position: absolute;
}

.pagename {
    text-align: center;
}

#dell {
    background: white;
    position: absolute;
}

/*.row {
    display: inline;
    padding: 64px 100px 0px;
}
*/

.button, .dell {
    border: 0px;
    margin: 10px 0px 0px;
}

.mainBox {
    display: none;
    text-align: left;
}

.form-control {
    color: black;
}

.priceText {
    max-width: 105px;
}

#id_row {
    text-align: center;
}

textarea {
    resize: none;
}

.text-input {
    margin: 100px 0px 0px;
}

#category {
    display: none;
}

.button {
    width: 100%;
}

.button.re, .dell {
    width: 49%;
}

.cadd {
    width: 100%;
}

.edit_button {
    width: 100%;
    margin: 10px 0px 0px 0px;
    border: none;
}

.editBlock {
    display: none;
}

.asrt {

    display: inline-block;

}

.asrtText {
    background: #c8c8c899;
    margin: 0px 5px 0px;
    border: 1px solid black;
}

.asrtText:hover {
    background: #dedbdb;

}