.main {
    background: #ececec;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding: 20px;
}

.text {
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    border: solid 2px #dddddd;
}
.textLabel{
    width:100%;
}
.button {
    width:100%;
    padding: 15px 72px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
}
.button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}