@media screen and (max-device-width:500px){
    .col-sm-4 {
        max-width: 500px;
    }

}

@media screen and (max-device-width:450px){
    .logo{
        width: 60%;
    }
    #search{
        width: 40%;
    }
}