body {
    font: 16px/20px 'Ubuntu', sans-serif;
    background: linear-gradient(45deg, #0ca3d2, #35dcca) fixed;
}

.col-sm-4 {
    min-width: 400px;
    width: 400px; /*Ширина блока*/
    margin: auto;
    overflow: visible;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px; /*Смещаем блок на половину всей ширины влево*/
    margin-top: -150px; /*Смещаем блок на половину высоты вверх*/
    background: #ececec;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    border-radius: 7px;
}

.button {
    padding: 15px 72px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.textbox {
    padding: 5px 5px;
    border-radius: 5px;
    border: solid 2px #dddddd;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.row {
    display: block;
    text-align: center;
    padding: 0px 0px 0px;
}

h1 {
    line-height: 1em;
}
