.productrow {
    height: 720px;
    overflow: auto;
    overflow-x: hidden;
}

.pagename {
    text-align: center;
    padding: 60px 0px 0px 0px;

}

.col-sm-4 {
    cursor: default;
    text-align: left;
}

.col-sm-4 h3 {
    word-wrap: break-word;
    overflow: auto; /* ÐžÐ±Ñ€ÐµÐ·Ð°ÐµÐ¼ Ð²ÑÐµ, Ñ‡Ñ‚Ð¾ Ð½Ðµ Ð¿Ð¾Ð¼ÐµÑ‰Ð°ÐµÑ‚ÑÑ Ð² Ð¾Ð±Ð»Ð°ÑÑ‚ÑŒ */
}

/********************/

.Product_Order_dellBtn {
    color: white;
    position: absolute;
    text-align: right;
    background: rgba(25, 25, 25, 0.3) !important;
    padding: 1px 4px 1px;

    cursor: pointer;
}

.quantity {
    width: 45px;
    text-align: center;
}

.orderIMG {
    display: none;
}

.container {
    padding: 10px 0px;
}

.orderBox {
    background-color: rgba(25, 25, 25, 0.38) !important;
}