.productrow {
    height: 720px;
    overflow: auto;
    overflow-x: hidden;
}

.pagename {
    text-align: center;
}
.col-sm-4{
    cursor:default;
}

/********************/

img {
    border: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

br.both {
    clear: both;
}

#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6 */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 10;
}

#popupContact {
    display: none;
    position: fixed;
    _position: absolute; /* hack for internet explorer 6 */
    height: 384px;
    width: 408px;
    background: #FFFFFF;
    border: 2px solid #cecece;
    z-index: 11;
    padding: 12px;
    font-size: 13px;
}

#popupContact h1 {
    color: #6FA5FD;
    font-size: 22px;
    border-bottom: 1px dotted #D3D3D3;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

#popupContactClose {
    font-size: 14px;
    line-height: 14px;
    right: 6px;
    top: 4px;
    position: absolute;
    color: #6fa5fd;
    font-weight: bold;
    display: block;
}

/********************/
#Product_Order_dellBtn {
    color: white;
    position: absolute;
    text-align: right;
    background: rgba(25, 25, 25, 0.3) !important;
    padding: 1px 4px 1px;

    cursor: pointer;
}
