.form {

    display: inline-block;
    background: #ececec;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px 10px 10px 10px;
    border-radius: 7px;
    text-align: left;
}

.main {
    text-align: center;
}

.text {
    Width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
    border: solid 2px #dddddd;

}

.button {
    width: 100%;
    padding: 15px 72px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
}

