body {
    font: 16px/20px 'Ubuntu', sans-serif;
    overflow: auto;
    //background: linear-gradient(45deg, #0ca3d2, #35dcca) fixed;
    background: linear-gradient(45deg, #0ca3d2, #00ec8f) fixed;
}

h3 {
    font-weight: unset;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.col-sm-4 {
    text-align: center;
    border: 1px rgba(0, 0, 0, 0.05) solid;
    padding: 10px;
    background-color: rgba(99, 96, 96, 0.1);
    margin: 10px;
    cursor: pointer;
    max-width: 260px;
}

.col-sm-4.added {
    background-color: rgba(25, 25, 25, 0.3) !important;
}

.col-sm-4 img {
    /* min-height: 200px; */ /* Искажаются пропорции изображения */
    max-height: 200px;
}

.col-sm-4:hover {
    /* background: linear-gradient(to bottom right, rgba(50, 50, 50, 0.5), rgba(100, 100, 100, 0.1)); */
    background-color: rgba(0, 0, 0, 0.25);
    transition: linear 0.1s;
}

#search {
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    outline: 0;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px 0px 0px 10px;
    transition: linear 0.15s;
}

#search::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

#search:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
}

#search:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
}

.logo {
    width: 85%;
    padding: 1px;
    margin-left: 4px;
}

.row {
    margin: 0px;
}

.menu {
    background: rgba(0, 0, 0, 0.5); /* rgba(255, 255, 255, 0.5); */
    position: fixed;
    width: 100%;
    z-index: 1;
    vertical-align: middle;
}

.col-sm-4 h3 {
    height: 70px;
    word-wrap: break-word;
    overflow: auto; /* Обрезаем все, что не помещается в область */
}

.container {
    padding: 80px 0px;
}

#admin_logo {
    text-align: right;
}
