
body {
    font: 16px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    overflow: auto;
    background: linear-gradient(45deg, #0ca3d2, #35dcca) fixed;
}

.col-sm-4 {
    text-align: center;
    cborder: 1px black solid;
    padding: 10px;
    background-color: rgba(99, 96, 96, 0.1);

}

.col-sm-4 img {
    width: 100%;
}

.col-sm-4:hover {

    background-color: rgba(99, 96, 96, 0.5);
}
.menu{
    background: #d0cdcd;
    border-radius: 10px;

}
.button{
    padding: 1px 87px 10px;
}
.button:hover{

    cursor:pointer;
    padding: 1px 87px 10px;
}
.imgAdd{
    position:absolute;
}