
body {
    font: 16px/20px 'Ubuntu', sans-serif;
    overflow: auto;

    /* Местоположение фоновой картинки */
    background-image: url("../img/mainfon.jpg");
    /* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */
    background-position: center center;
    /* Фон не повторяется */
    background-repeat: no-repeat;
    /* Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */
    background-attachment: fixed;
    /* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/
    background-size: cover;
    /* Цвет фона, который будет отображаться при загрузке фоновой картинки*/
    background-color: rgb(161, 136, 116);
}


h3 {
    font-weight: unset;
}

.order {
    display: flex;
    justify-content: center;
    /*align-items: center;*/ /*блоки разного размера*/
    margin-bottom: 16px;
}

.productBox {

    text-align: center;
    border: 1px rgba(0, 0, 0, 0.09) solid;
    padding: 7px;
    /*background-color: rgba(99, 96, 96, 0.15);*/
    background-color: rgba(206, 206, 206, 0.38);
    margin: 10px 0px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.productBox.added {
    background-color: rgba(25, 25, 25, 0.3) !important;
}

.productBox img {
    /* min-height: 200px; */ /* Искажаются пропорции изображения */
    max-height: 200px;
}

.productBox:hover {
    /* background: linear-gradient(to bottom right, rgba(50, 50, 50, 0.5), rgba(100, 100, 100, 0.1)); */
    background-color: rgba(0, 0, 0, 0.25);
    transition: linear 0.15s;
}

#search {
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    outline: 0;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px 0px 0px 10px;
    transition: linear 0.15s;
}

#search::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

#search:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
}

#search:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 0.95);
}

.menu_logo {
    color: rgba(255, 255, 255, 0.7);
}

.menu a {
    padding: 5px;
}

.menu_logo:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.95);
    transition: linear 0.15s;
}

.row {
    margin: 0px;
}

.menu {
    background: rgba(0, 0, 0, 0.6); /* rgba(255, 255, 255, 0.5); */
    position: fixed;
    width: 100%;
    z-index: 10;
    vertical-align: middle;
}

.productBox h3 {
    height: 70px;
    word-wrap: break-word;
    overflow: auto; /* Обрезаем все, что не помещается в область */
}

.container {
    padding: 80px 0px;
}

#admin_logo {
    text-align: right;
}

.text {
    color: rgb(7, 7, 7);
}

@media only screen and (max-width: 767px) {
    body {
        background-image: url(../img/mobile_fon.jpg);
        background-repeat: repeat;
        background-size: 70%;
        background-color: rgb(152, 82, 55);
    }

    .productBox:hover {
        /* background: linear-gradient(to bottom right, rgba(50, 50, 50, 0.5), rgba(100, 100, 100, 0.1)); */
        background-color: rgba(206, 206, 206, 0.38);
    }
}
